@media screen and (min-width:768px) {
    .container {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    .home .home-title {
        font-size: 2.5rem;
    }

}

@media screen and(min-width:992px) {
    .container {
        width: 920px;
    }

}

@media screen and (min-width:1200px) {
    .container {
        width: 1120px;
    }

    .home .home-title {
        font-size: 3.1rem;
    }
}

@media screen and (min-width:1400px) {
    .container {
        width: 1320px;
    }


    .navbar {
        padding: 10px 0;
    }

    .navbar label {
        display: none;
    }

    nav {
        display: block;
        width: fit-content;
        font-weight: 700;

    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        padding: 15px;
        border-top: none;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .line {
        width: 80px;
    }

    /* ------home------ */
    .home p {
        font-size: 1.3rem;
        padding: 3rem 0;

    }

    /* -----about------- */
    .about{
        height: auto;
    }
    .title {
        font-size: 2.5rem;
        font-weight: 400;
    }

    /* -------services------ */
    .services-item {
        width: 24%;
    }

    /* --------portfolio------- */
    .galary .photo {
        width: 33.33%;
    }

    .portfolio .port-title {
        font-size: 2.5rem;

    }

    /* ----------contact-------- */
    .contact {
        width: 60%;
        margin: auto;
    }
}